<h1>Hello world!</h1>

{{#if is_chromecast}}
  <script data-chromecast="receiver" src="https://www.gstatic.com/cast/sdk/libs/receiver/2.0.0/cast_receiver.js"></script>
{{else}}
  <script src="https://www.gstatic.com/cv/js/sender/v1/cast_sender.js?loadCastFramework=1"></script>
{{/if}}
